body{
    background-color:salmon;
}

h1{
    font-size:32px;
}

h2{
    font-size:24px;
}

table{
    display:table;
    border:1px solid black;
}

tr{
    border:1px;
    display:table-row;
    border:1px solid black;
}

td{
    border:1px solid black;
}

#fish{
    width:590px;
}

#Locations{
    background-color:seagreen;
}



/* #pike{
    border-style:dashed;
    border-color:limegreen;
    border-width: 2px;
    width:180px;
    background-color:slateblue;
    padding:15px;
}
#airport{
    border-style:dashed;
    border-color:limegreen;
    border-width: 2px;
    width:180px;
    background-color:slateblue;
    padding:15px;
}
#center{
    border-style:dashed;
    border-color:limegreen;
    border-width: 2px;
    width:180px;
    background-color:slateblue;
    padding:15px;
}
#capHill{
    border-style:dashed;
    border-color:limegreen;
    border-width: 2px;
    width:180px;
    background-color:slateblue;
    padding:15px;
}
#alki{
    border-style:dashed;
    border-color:limegreen;
    border-width: 2px;
    width:180px;
    background-color:slateblue;
    padding:15px;
} */