body{
    background-color:salmon;
}

h1{
    font-size:32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-size:24px;
}

table{
    display:table;
    width:80%;
    border-collapse:collapse;
}

tr{
    display:table-row;
    border:2px solid black;
}

th{
    border:1px solid black;
    background-color:blue;
}
tfoot{
    border:2px solid black;
    background-color:blue;
}

td{
    border:2px solid black;
    
}

#fish{
    width:590px;
}